.body {
    min-height: 700px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-dark-1);
    position: relative;
    overflow-x: hidden;
    @media only screen and (max-width: 450px) {
        min-height: unset;
    }
    /**
    Scrollbar
    */
    ::-webkit-scrollbar {
        width: 0px;
    }
    ::-webkit-slider-thumb {
        background-color: rgba(114,124,245,0.25)
    }
    ::-webkit-scrollbar-track {
        background-color: var(--color-dark-3);
    }
}

.navigation {
    padding: 0 var(--padding-default);
    height: 6rem;
    background-color: var(--color-dark-2);
    display: flex;
    flex-direction: row;
    transition: filter var(--transition-2);
    &__sectionContainer {
        display: flex;
        flex: 1;
        height: 100%;
        padding: .5rem 0;
        justify-content: flex-start;
        align-items: center;
    }
    &__userContainer {
        max-width: 200px;
        display: flex;
        height: 100%;
        padding: .5rem 0;
    }
    &__sectionTitle {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    &__userAndTitleContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-left: 1rem;
    }
    &__imageContainer {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.task {
    &__container {
        padding: var(--padding-default);
        background-color: var(--color-dark-2);
        margin: 1rem 0;
        border-radius: var(--border-radius-2);
    }
    &__grid {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-row-gap: var(--padding-default);
        grid-column-gap: var(--padding-default);
        @media only screen and (max-width: 768px) {
            grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
        }
        &--1 {
            margin-bottom: 1rem;
        }
    }
    &__subgrid {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        &--button {
            align-items: flex-start;
        }
    }
    &__details {
        margin-bottom: var(--padding-default);
        &--noMarginBottom {
            margin-bottom: 0;
        }
        &[open] .summary__icon {
            transform: rotate(0);
            &::before {
                content: '';
                display: block;
                width: 0px;
                height:0px;
                border-bottom: solid 2px #fff;
                position: absolute;
                bottom:24px /2 - 2px/2;
                transform: rotate(90deg);
            }
        }
    }
    &__titleContainer {
        display: flex;
        margin-bottom: 1rem
    }
    &__title {
        display: flex;
        flex: 5;
        flex-direction: column;
        &--warning {
            flex-direction: row;
            align-items: center;
            padding: 5px 0;
            //border: 2px solid var(--color-yellow-1);
            border-radius: 10px;
            //background-color: rgba(255, 255, 0, 0.3);
            margin-bottom: 1rem;
            max-width: 250px;
        }
    }
    &__warningImage, &__checkImage {
        max-height: 20px;
        margin-right: 5px
    }
    &__text {
        &--warning {
            color: var(--color-yellow-1);
            margin-left: 2px;
            font-weight: 600;
            letter-spacing: .3px;
            font-size: 1.3rem;
        }
        &--accept {
            color: var(--color-green-3);
            margin-left: 2px;
            font-weight: 600;
            letter-spacing: .3px;
            font-size: 1.3rem;
        }
        &--danger {
            color: var(--color-red-1);
            margin-left: 2px;
            font-weight: 600;
            letter-spacing: .3px;
            font-size: 1.3rem;
        }
    }
    &__image {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        align-items: center;
    }
}

.summary {
    outline: none;
    background-color: #404954;
    padding: var(--padding-default);
    border-radius: 10px;
    &::-webkit-details-marker {
        display:none;
    }
    &__container {
        &--1 {
            display: flex;
            flex-direction: row;
            height: 100%;
            width: 100%;
        }
        &--2 {
            display: flex;
            flex-direction: column;
            height: 100%;
            flex: 5;
        }
        &--3 {
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;
        }
    }
    &__icon {
        box-sizing: border-box;
        transition: transform 0.3s;
        width: 24px;
        height: 24px;
        transform: rotate(180deg);
        position: relative;
        &::before {
          content: '';
          display: block;
          width: 24px;
          height:0px;
          border-bottom: solid 2px #fff;
          position: absolute;
          bottom:24px /2 - 2px/2;
          transform: rotate(90deg);
          transition: width 0.3s;
        }
        &::after {
          content: '';
          display: block;
          width: 24px;
          height:0px;
          border-bottom: solid 2px #fff;
          position: absolute;
          bottom:24px /2 - 2px/2;
        }
    }
    &__taskCount {
        color: white;
        font-size: 1.3rem;
    }
}

.image {
    &__userPhoto {
        border-radius: 50%;
        height: 100%;
        max-width: 5rem;
        @media only screen and (max-width: 400px) {
            height: 80%;
            max-width: 4rem;
        }
    }
    &__companyPhoto {
        height: 100%;
        border-radius: 50%;
        @media only screen and (max-width: 400px) {
            height: 80%;
        }
    }
    &__task {
        width: 2rem;
        height: 2rem;
        padding: 1rem;
        border-radius: var(--border-radius-2);
        background-color: var(--color-purple-2);
        & path {
            fill: var(--color-purple-3);
        }
    }
}
.widescreenSmallContainer {
    box-shadow: var(--box-shadow-1);
    min-width: 320px;
    width: 100%;
    max-width: var(--tablet-width);
    min-height: 400px;
    height: 100%;
    position: relative;
    border-radius: var(--border-radius-2);
    overflow-x: hidden;
    @media only screen and (max-width: 768px) {
        height: auto;
        border-radius: 0;
    }
}

.title {
    &__main {
        color: var(--color-light-1);
        &--1 {
            font-size: 2.4rem;
            margin: 0;
        }
        &--2 {
            font-size: 2rem;
        }
    }
    &__description {
        color: var(--color-light-1);
        &--1 {
            font-size: 1.4rem;
        }
    }
    &__container {
        &--1 {
            display: flex;
            flex-direction: column;
            margin: 1.2rem 0;
        }
    }
    &__companyTitle {
        color: var(--color-light-1);
        font-size: 2rem;
        margin-left: 1rem;
        max-width: 120px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        @media only screen and (max-width: 400px) {
            font-size: 1.4rem;
            margin-left: .5rem;
            max-width: 120px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
    &__username {
        color: var(--color-light-1);
        font-size: 1.6rem;
        max-width: 120px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        @media only screen and (max-width: 400px) {
            font-size: 1.3rem;
        }
    }
    &__userTitle {
        font-size: 1.2rem;
        color: var(--color-green-1);
    }
    &__taskPropertyValue {
        color: var(--color-light-1);
        font-size: 1.8rem;
        line-height: 1.2;
        &--1 {
            font-size: 1.4rem;
        }
        &--2 {
            font-size: 2.4rem;
        }
    }
    &__subtitle {
        color: var(--color-light-2);
        font-size: 1.2rem;
        font-weight: 700;
    }
    &__copyright {
        color: var(--color-light-1);
        font-size: 1.2rem;
    }
    &__version {
        color: var(--color-light-1);
        font-size: 1.2rem;
    }
}

.main {
    position: relative;
    width: 100%;
    background-color: var(--color-dark-3);
    padding: var(--padding-default);
    will-change: filter;
    transition: filter var(--transition-2);
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: var(--color-dark-2);
    transition: filter var(--transition-2);
    &__copyright {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--padding-default) 1rem;
        background-color: darken(#37404A, 5%);
        transition: filter var(--transition-2);
    }
    &__details {
        padding: var(--padding-default);
        border-bottom: 1px solid #ccc;
        margin-bottom: 0;
        &--noBorder {
            border-bottom: none;
        }
        &[open] {
            .footer__summary svg {
                transform: rotate(90deg);
            }
        }
    }
    &__summary {
        font-size: 1.6rem;
        outline: none;
        display: flex;
        padding: .5rem 0;
        justify-content: flex-start;
        align-items: center;
        color: var(--color-light-1);
        &::-webkit-details-marker {
            display:none;
        }
        svg {
            height: 1.5rem;
            margin-left: 1rem;
            margin-top: .4rem;
            transition: transform var(--transition-2);
            & path {
                fill: var(--color-light-1);
            }
        }
    }
    &__question {
        font-weight: 700;
        font-weight: 1.4rem;
    }
    &__text {
        color: var(--color-light-1);
        margin-bottom: .8rem;
        font-size: 1.4rem;
    }
}


/**
Right side image
*/
.container-icon {
    padding: 1.2rem 1rem;
    border-radius: 5px;
    background-color: rgba(114,124,245,0.25);
    & img {
        max-width: 25px;
    }
}

.popup {
    max-height: calc(100vh - 2 * var(--padding-default));
    position: fixed;
    overflow: auto;
    @media only screen and (min-width: 767px) {
        max-width: calc(768px - 3rem);
        left: 50%;
        transform: translateX(-50%);
    }
    height: auto ;//calc(100vh - 2 * var(--padding-default));
    width: calc(100% - 2 * var(--padding-default));
    box-shadow: var(--box-shadow-1);
    top: var(--padding-default);
    left: var(--padding-default);
    display: flex;
    opacity: 0;
    pointer-events: none;
    background-color: var(--color-dark-2);
    z-index: 50;
    will-change: opacity;
    transition: opacity .5s;
    border-radius: 10px;
    /*
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #293347;
        border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
        border-radius: 0 10px 10px 0;
    }
    */
    &[data-open=open] {
        pointer-events: auto;
        opacity: 1;
    }
    &__rel {
        height: 100%;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        //padding: 2rem;
    }
    &__header {
        position: relative;
        display: flex;
        width: 100%;
        flex-direction: column;
        padding: 1.5rem;
    }
    &__title {
        color: var(--color-light-1);
        font-size: 1.8rem;
        &.subtitle {
            font-size: 1.2rem;
            text-transform: uppercase;
            color: #8391a2;
            font-weight: 600;
        }
    }
    &__close {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        height: 1.5rem;
        width: 1.5rem;
        &--icon {
            fill: #EE3726;
            width: 100%;
            height: 100%;
        }
    }
    &__textarea {
        display: flex;
        width: 100%;
        padding: 1rem;
        border-radius: 10px;
        border: 2px solid transparent;
        font-family: var(--font-1);
        height: 100px;
        font-size: 1.3rem;
        background-color: inherit;
        color: white;
        margin-top: .5rem;
        outline: none;
        transition: var(--transition-2) border-color;
        &--red {
            border-color: var(--color-red-1);
        }
        &--green {
            border-color: var(--color-green-3);
        }
    }
    &__commentMeta {
        display: flex;
        flex-direction: column;
        margin-bottom: .5rem;
        background-color: var(--color-dark-3);
        overflow-x: auto;
        &::-webkit-scrollbar {
            height: 5px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #293347;
            border-radius: 10px;
        }
        &--row {
            display: flex;
            flex-direction: row;
        }
        &--col {
            display: flex;
            flex-direction: column;
            flex: 3;
            padding: 1rem 1.5rem;
        }
    }
    &__text {
        color: white;
        &--author {
            font-size: 1.3rem;
        }
        &--date {
            font-size: 1.3rem;
        }
        &--comment {
            font-size: 1.3rem;
        }
    }
    &__inputContainer {
        padding: 1.5rem;
        flex-direction: column;
    }
    &__buttonContainer {
        padding: 0 1.5rem;
        padding-bottom: 1.5rem;
    }
}



.button {
    &__action {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        min-width: 120px;
        padding: 1rem;
        font-size: 1.4rem;
        font-weight: 700;
        margin-top: .5rem;
        border: none;
        color: white;
        max-width: 20%;
        transition: filter var(--transition-2);
        &:disabled {
            filter:grayscale(.5);
        }
        &--green {
            background-color: rgba(44, 160, 44, 1);
        }
        &--red {
            background-color: rgba(238, 55, 38, 1);
        }
        &--blue {
            background-color: var(--color-blue-1);
        }
        &--purple {
            background-color: var(--color-purple-1);
        }
    }
}